# requirements.txt
# Este archivo lista las dependencias de Python del proyecto.
# Se usa ejecutando: pip install -r requirements.txt

Django>=4.0        # El framework web principal
reportlab          # Librería para generar PDFs (usada en ventas/views.py)
# qrcode           # Comentado, no se está usando actualmente
django-crispy-forms # Para renderizar formularios con Bootstrap
crispy-bootstrap5  # Plantillas específicas de Bootstrap 5 para crispy-forms
python-docx        # Librería para crear y modificar archivos .docx (Word)
Pillow>=9.0        # Librería para procesamiento de imágenes (requerida por Django para ImageField, aunque aquí se usa para ReportLab)

# --- Dependencias de Producción (Añadidas en el Dockerfile) ---
# gunicorn           # Servidor WSGI para producción (no se usa en desarrollo)
# psycopg2-binary    # Adaptador de Python para la base de datos PostgreSQL